{% extends "head.jinja.html" %}
{% block content %}

	<!-- TODO: consistently use jumbotron or jumbotron-fluid-->
	<div class="jumbotron jumbotron-fluid">
        <div class="container">
			<h1 class="card-title display-2">{{section_title}}</h1>
			<p>{{subtext}}</p>
        </div>
    </div> <!--.jumbotron -->

	<div id="listing-container" class="container">
		{% for item in listing %}
			<div class="row mb-5">
				<div class="col col-lg-8 col-xl-8">
					<img class="img-thumbnail" src="{{item.rel_location}}" alt="Card Image">
					<p>{{item.title}}, </p>
					<p>{{item.subtext}}</p>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
